
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}


.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}


input[type="text"], input[type="email"], input[type="password"] {
    width: 95%;
    /* padding: 12px;
    margin: 10px 0 20px 0; */
    margin-left: 2.5%;
    margin: 2.5%;
    height: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}



button {
    width: 100%;
    padding: 12px;
    /* background-color: #4CAF50; */
    background-color: teal;
    color: white;
    border: none;
    border-radius: 1vmin;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: turquoise;
}


a {
    display: block;
    text-align: center;
    margin-top: 10px;
    /* color: #4CAF50; */
    color: teal;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}


.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}


@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 10px;
    }
}
